<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>eID IdP SP</display-name>

	<servlet>
		<servlet-name>SimpleProtocolLandingServlet</servlet-name>
		<servlet-class>be.fedict.eid.idp.sp.protocol.simple.SimpleProtocolLandingServlet</servlet-class>
		<init-param>
			<param-name>RedirectPage</param-name>
			<param-value>/simple-result.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>NameSessionAttribute</param-name>
			<param-value>Name</param-value>
		</init-param>
		<init-param>
			<param-name>FirstNameSessionAttribute</param-name>
			<param-value>FirstName</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimpleProtocolLandingServlet</servlet-name>
		<url-pattern>/simple-landing</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuthenticationRequestServlet</servlet-name>
		<servlet-class>be.fedict.eid.idp.sp.protocol.saml2.AuthenticationRequestServlet</servlet-class>
		<init-param>
			<param-name>ParametersFromRequest</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationRequestServlet</servlet-name>
		<url-pattern>/saml-request</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuthenticationResponseServlet</servlet-name>
		<servlet-class>be.fedict.eid.idp.sp.protocol.saml2.AuthenticationResponseServlet</servlet-class>
		<init-param>
			<param-name>IdentifierSessionAttribute</param-name>
			<param-value>Identifier</param-value>
		</init-param>
		<init-param>
			<param-name>RedirectPage</param-name>
			<param-value>/authn-result.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationResponseServlet</servlet-name>
		<url-pattern>/saml2-landing</url-pattern>
	</servlet-mapping>
</web-app>
